certifi==2025.11.12
charset-normalizer==3.4.4
flake8==7.0.0
greenlet==3.3.2
idna==3.11
iniconfig==2.3.0
mccabe==0.7.0
packaging==26.0
playwright==1.58.0
pluggy==1.6.0
pycodestyle==2.11.1
pyee==13.0.1
pyflakes==3.2.0
Pygments==2.19.2
pytest==9.0.2
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.5.0
