name: Code style check

on:
  push:
  pull_request:

jobs:
  flake8-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install flake8 flake8-bugbear flake8-comprehensions flake8-docstrings pep8-naming

      - name: Run flake8
        run: flake8
